<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paypal.sampleapp"
    android:versionCode="1667"
    android:versionName="1.6.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fridgepos"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label" >
        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginScreenActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/login_screen" >
        </activity>
        <activity
            android:name=".activity.OAuthLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/login_screen"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
               <activity
            android:name=".activity.FixedPriceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.PaymentTypeTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/payment_type" />
        <activity
            android:name=".activity.CreditCardPeripheralActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/card_reader_payment" />
        <activity
            android:name=".activity.CreditCardManualActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/key_in_payment" />
        <activity
            android:name=".activity.PayPalMerchantCheckinActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/checkin_payment" />
        <activity
            android:name=".activity.SignatureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".activity.OptionsMenuBaseActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ThanksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.StageSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/select_stage" />
        <activity
            android:name=".activity.SDKSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_sdk_settings" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- newly added   -->

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />


</manifest>